@font-face {
    font-family: "GintoNordTrial-Light";
    src: url("../fonts/GintoNordTrial-Light.eot.eot");
    src: url("../fonts/GintoNordTrial-Light.woff") format("woff"),
    url("../fonts/GintoNordTrial-Light.otf") format("opentype"),
    url("../fonts/GintoNordTrial-Light.svg#GintoNordTrial-Light") format("svg");
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'GintoNordTrial-Light';
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100%px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
}

a:last-of-type {
    margin-bottom: 10px;
}

p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.23;
}
