* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.004);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    padding: 24px;
    font-size: 24px;
    line-height: 28px;
    overflow-x: hidden;
    font-family: 'Arial';
    letter-spacing: -0.8px;
    cursor: default;
    background-color: white;
    color: black;
}

body::-webkit-scrollbar {
    display: none;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#name {
    margin-right: 24px;
}

.projects {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-link {
    margin-right: 24px;
    align-self: center;
    /* padding: 2px 4px 0px;
    background-color: white; */
    color: blue;
    z-index: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a.coming-soon {
    cursor: default;
    text-decoration: none;
}

.project-info {
    margin-right: 24px;
    align-self: center;
    /* padding: 3px 4px 0px; */
}

.black-link {
    color: inherit;
}

.black-link:hover {
    text-decoration: none;
}

.contacts {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts>a {
    margin-right: 24px;
}

.social {
    margin-right: 24px;
}

.soon {
    font-size: 14px;
    letter-spacing: -0.4px;
    opacity: 0.5;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    margin-top: -16px;
    left: 24px;
    right: 24px;
    pointer-events: none;
}

.line {
    width: 100%;
    background: #ccc;
    height: 8px;
    margin-left: 12px;
    position: relative;
}

.line-text {
    position: absolute;
    font-size: 12px;
    color: white;
}

.point {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 24px solid #ccc;
    margin-right: 12px;
}

@media (min-width: 1366px) {
    #wrapper {
        font-size: 1.953vw;
        line-height: 2.188vw;
        letter-spacing: -0.0.625vw;
    }
}

@media (max-width: 600px) {
    #wrapper {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.8px;
    }
    .projects {
        margin-top: 0;
    }

    .project-link {
        width: 100%;
        margin-top: 24px;
    }

    a:hover {
        text-decoration: none;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    .timeline {
        display: none;
    }
}