@font-face {
    font-family: 'VM';
    src: url(Sneak-Regular.otf) format('opentype');
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 24px 0;
    box-sizing: border-box;
    font-size: 27px;
    line-height: 28px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-family: 'VM';
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.004);
}

.ba {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 48px;
    z-index: 1;
    background-color: black;
    color: white;
}

.before {
    flex-grow: 1;
    padding: 12px 24px;
}

.after {
    flex-grow: 1;
    padding: 12px 24px;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
}

.main-info {
    margin: 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#name {
    margin-right: 24px;
    text-transform: uppercase;
    display: inline-block;
}

#role {
    display: inline-block; 
}

.projects {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-link {
    margin: 0 24px;
    align-self: center;
}

a {
    text-decoration: none;
    color: #003CFF;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

a.coming-soon {
    cursor: default;
    text-decoration: none;
}

.project-info {
    margin: 0 24px;
    align-self: center;
}

.black-link {
    color: black;
    display: inline;
}

.black-link:hover {
    text-decoration: none;
}

.contacts {
    margin: 36px 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.break {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

@media (min-width: 1366px) {
    #wrapper {
        font-size: 2.109vw;
        line-height: 2.188vw;
        letter-spacing: -0.078vw;
    }
}

@media (max-width: 1080px) {
    #wrapper {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2px;
    }
    .project-link, .project-info, #name, #role  {
        width: 100%;
        overflow-x: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }
    a {
        overflow-x: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }
    .project-link {
        margin-top: 24px;
    }
    .projects {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    #wrapper {
        font-size: 27px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .project-link {
        margin-top: 12px;
    }
    .contacts {
        margin-top: 12px;
    }
}